.input {
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  width: 65%;
  max-width: 40rem;
  transition: 0.5s;
}
.input label {
  display: block;

  left: calc(1rem + 5px);
  translate: .35rem 1.8rem;
  opacity: 0.85;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}
.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: none;
  padding: 0.15rem;

  border-radius: 1vh;
  caret-color: rgb(188, 122, 81);
  transition: 0.5s;
}
.input input:focus {
  outline: none;
  translate: 0 1.35rem;
}

.input button {
  margin-top: 1.5rem;
}
